extends layout 
block content
    each img in images 
        div(class='mainDisplay')
            div(class='playHighScoreContainer')
                p=imageData[img].displayName
                img(src='/images/' + img + '.png' class='thumbnail')
            ul(class='charactersContainer')='Characters'
                each character in Object.keys(imageData[img].characters)
                    li=character
            div(class='playHighScoreContainer')
                a(href='/' + img)='Play'
                a(href='/' + score)='High Scores'