extends layout 
block content
    title Where's Waldo?
    h1 Where's Waldo?
    p(class='center instructionText') Instructions: Find all the characters in the image- use your mouse to click on them and select the right character. Once you've found them all, submit your score to the leaderboard! Click "Play" below to start.
    each img in images 
        div(class='mainDisplay')
            div(class='playHighScoreContainer')
                p(class='bold')=imageData[img].displayName
                img(src='/images/' + img + '.png' class='thumbnail')
            ul(class='charactersContainer')='Characters:'
                each character in Object.keys(imageData[img].characters)
                    li=character
            div(class='playHighScoreContainer')
                a(href='/' + img)='Play'
                a(href='/' + img + '/score')='High Scores'