extends layout
block content
    p High Scores: #{imageName} 
    if scores.length == 0
        div No high scores posted!
    else
        each entry in scores
            if newScoreID && entry._id == newScoreID
                div(class='bold')
                    p=entry.name 
                    p=entry.score
            else
                div 
                    p=entry.name 
                    p=entry.score