extends layout
block content
    title High Scores: #{imageName} 
    h1(class='bold') High Scores: #{imageName} 
    div(class='center')
        button
            a(href='/') Back
        button
            a(href='/' + image) Play
    if scores.length == 0
        div(class='center') No high scores posted!
    else
        table
            tr
                th Name
                th Score
            each entry in scores
                if newScoreID && entry._id == newScoreID
                    tr(class='bold selectedScore')
                        td=entry.name 
                        td=entry.score
                else
                    tr
                        td=entry.name 
                        td=entry.score